div .mainhead h3{
    color: black;
    font-size: 25px;
}

div .mainhead p {
    color: black;
    font-size: 20px;
}

div .head {
    color: rgb(255, 255, 255);
    position: relative;
}

div .headword {
    position: absolute;
    top: 230px;
    left: 300px;
    font-size: 50px;
    font-weight: bold;
}

div .headpara {
    position: absolute;
    top: 260px;
    left: 300px;
    font-size: 30px;
}

div .headpara a {
    color: white;
}

div .headb1 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 18px;
    color: rgb(168, 161, 161);
    
}

div .headb2 {
    position: absolute;
    bottom: 10px;
    left: 650px;
    font-size: 18px;
    color: rgb(168, 161, 161);

}

div .headb3 {
    position: absolute;
    bottom: 10px;
    left: 1260px;
    font-size: 18px;
    color: rgb(197, 188, 188);

}

div .headb3 img {
    position: absolute;
    bottom: 50px;
    opacity: 0.5;
}

/*Responsive*/

@media only screen and (max-width: 600px) {
    div .mainhead img {
        width: 500px;
    }

    img {
        width: 600px;

    }

    div .head {
        color: rgb(255, 255, 255);
        position: relative;
    }
    
    
div .headword {
    position: absolute;
    top: 330px;
    left: 100px;
    font-size: 40px;
    
}

div .headpara {
    position: absolute;
    top: 380px;
    left: 100px;
    font-size: 25px;
}


div .headb1 {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 12px;
    color: rgb(168, 161, 161);
    
}


div .headb2 {
    position: absolute;
    bottom: 5px;
    left: 200px;
    font-size: 12px;
    color: rgb(168, 161, 161);

}

div .headb3 {
    position: absolute;
    bottom: 5px;
    left: 420px;
    font-size: 12px;
    color: rgb(197, 188, 188);

}

div .headb3 img {
    position: absolute;
    bottom: 25px;
    opacity: 0.5;
    width: 120px;
    height: 30px;
}

}