/*
.picture{
    margin-top: 30px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0px 10px;
}
.picture .pics{
    cursor:pointer;
    margin-bottom: 25px;
    margin-left: 12px;
}
.picture .pics:hover{
    filter: opacity(0.8);
}
@media (max-width:991px){
    .picture{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
}
@media (max-width:480px){
    .picture{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }  
}
.model{
    width: 90%;
    height: 500px;
    position: fixed;
    top: 70px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: black;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    
}
@media(max-width: 450px){
  .model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
    width: 75%;
    height: 70%;
    overflow: hidden;
    
}
}

.model img{
    width:auto;
    max-width: 100%;
    height:auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}
@media(max-width: 450px){
  .model img{
    width: 70%;
    max-width: 100%;
    height:70%;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}
}
.model.open .image{    
    position:fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 900px;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
}
@media(max-width: 450px){
.model.open .image{
    top: 10px;
    left: 10px;
    width: 90%;
    max-width: 500px;
    height: 2rem;
    padding: 5px;
     color: rgb(8, 8, 8);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
}
@media( min-width:450px){
    .model.open .image{
        top: 5px;
        left: 10px;
        width: 95%;
        max-width: 1000px;
        height: 2rem;
        padding: 5px;
         color: rgb(8, 8, 8);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    }
.section{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{
    
    max-width:400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
    padding: 25px;
    
}
ul::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
li{
    padding :3px;
   
    list-style-type: none;
    
}
button{
    background-color: rgb(238, 247, 238);
    color: black;
}
*/
/*
.model{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 10;
 
 }
 /*
 .model.open{
     visibility: visible;
     opacity: 1;
     transform: scale(1);
     
 }
 */