.gallery {
    margin-top: 1%;
    padding: 5%;
    align-items: center;
    column-count: 3;
}

.gallery .pics {
    padding: 1%;
    
}

.overlay {
    position: relative;
    bottom: 70px;
    left: 35%;
    color:  rgb(255, 255, 255);
    font-size: 25px;
    height: 25px;
    opacity: 0;
}

.gallery .pics:hover {
    opacity: 0.8;
    cursor: zoom-in;
}

.gallery .pics:hover .overlay{
    cursor : zoom-in;
    opacity: 1;
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 1;
    visibility: hidden;

}

.model.open {
    visibility: visible;
    opacity: 1;
    width: 1200px;
    height: 700px;
    left: 150px;
    top: 25px;


}

.model img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}


.model.open svg{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .lnavi{
    position: fixed;
    top: 50%;
    left: 35px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgba(63, 59, 59, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .rnavi{
    position: fixed;
    top: 50%;
    right: 35px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgba(63, 59, 59, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .dload{
    position: fixed;
    top: 6%;
    right: 12%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgba(22, 223, 22, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .author{
    position: fixed;
    top: 6%;
    left: 11%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: gray;
    cursor: pointer;
}

/*Responsive*/

@media only screen and (max-width: 600px) { 
 .gallery {

    margin-top: 1%;
    padding: 10%;
    align-items: center;
    column-count: 1; 
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 1;
    visibility: hidden;
}

.model.open {
    visibility: visible;
    opacity: 1;
    width: 500px;
    height: 350px;
    left: 50px;
    top: 155px;
}

.model.open svg{
    position: fixed;
    top: 23%;
    right: 2%;
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}


.model.open .lnavi{
    position: fixed;
    top: 42%;
    left: 60px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(63, 59, 59, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .rnavi{
    position: fixed;
    top: 42%;
    right: 21px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(63, 59, 59, 0.4);
    color: #ffffff;
    cursor: pointer;
}


.model.open .dload{
    position: fixed;
    top:23%;
    right: 12%;
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: rgba(22, 223, 22, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .author{
    position: fixed;
    top: 23%;
    left: 12%;
    width: 28px;
    height: 28px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: gray;
    cursor: pointer;
}


}