/*
.grid {
  margin: 5%;
  padding: 1%;
  align-items: center;
  column-count: 3;
}

/* clear fix */
/*
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
/*
.grid-item {
  margin-bottom: 20px;
  padding: 20px;
}



/*.grid-item img {
  display: block;
  max-width: 100%;
}*/
/*
.overlay {
  position: relative;
  bottom: 70px;
  right: 0%;
  color: rgb(255, 255, 255);
  font-size: 25px;
  height: 25px;
  opacity: 0;
}

.download {
  position: relative;
  bottom: 105px;
  left: 80%;
  height: 50px;
  width: 50px;
  opacity: 0;
}

.grid-item img:hover {
  cursor: zoom-in;
  opacity: .8;
}

.grid-item:hover .overlay {
  cursor: zoom-in;
  opacity: 1;
}

.grid-item:hover .download {
  cursor: zoom-in;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {

  .grid {
    margin: 0%;
    padding: 0%;
    align-items: center;
    column-count: 1;
  }






}